{{ if eq .chezmoi.osRelease.name "Arch Linux" -}}
#!/bin/bash
echo "Installing packages required for dotfiles"
sudo pacman --needed -S nvim htop tmux dunst dmenu keychain scrot
# nvim plugin dependencies
sudo pacman --needed -S ripgrep git curl unzip gzip tar nodejs
# ST Installation
function sucklessInstaller {
        local sucklessProgram="$1"
        echo "Installing $sucklessProgram"
        spLocation="$HOME/sc/$sucklessProgram"
        spGitLocation="$spLocation/.git"
        spBinLocation="/usr/local/bin/$sucklessProgram"

        if [ ! -d "$spLocation" ]
        then
                echo "$spLocation folder does not exist, starting clean install of $sucklessProgram"
                mkdir -p "$spLocation"
                [ ! -d "$spGitLocation" ] && git clone "https://github.com/sivabalansm/$sucklessProgram" $spLocation
        else
                echo "$spLocation exists, assuming $sucklessProgram is installed"
        fi
        if [ ! -e "$spBinLocation" -a -d "$spGitLocation" ]
        then
                echo "Cannot find $sucklessProgram binary at $spLocation, installing from source..."
                (cd "$spLocation"; sudo make clean install)
        else
                [ -e "$spBinLocation" ] && echo "$sucklessProgram binary exists, skipping compiling from source"
                [ ! -d "$spGitLocation" ] && echo "$spGitLocation not found, skipping compiling from source"
        fi
}

sucklessInstaller "st"
sucklessInstaller "dwm"

exit 0
{{ end -}}

