# Alias
alias cd=":"
alias ls=":"
alias l="/bin/ls --color"
alias la="/bin/ls --color -a"
alias ll="/bin/ls --color -l"
alias v="nvim"
alias vf="nvim -c \"Telescope find_files\""
alias t="tmux"
alias ta="tmux attach"
{{- if eq .chezmoi.os "darwin" }}

alias clip="pbcopy"

{{ else if eq .chezmoi.os "linux" }}

alias clip='xclip -selection clipboard'

{{- end }}

alias c="claude"
alias cc="claude --continue"
alias cc="claude --resume"
alias cld="claude --allow-dangerously-skip-permissions"
alias cldc="claude --allow-dangerously-skip-permissions --continue"

alias oc="opencode"
alias occ="opencode --continue"

# Editor
set -gx EDITOR nvim
set -gx VISUAL nvim

# Modify path to have local binaries
set -gx PATH $HOME/.local/bin $PATH

fish_vi_key_bindings
if status is-interactive
# Commands to run in interactive sessions can go here
end

source "$HOME/.cargo/env.fish"
zoxide init fish | source
